/* * {
    margin: 0;
    padding: 0;
} */

.futuro {
  visibility: hidden;  
}

.visibile {
    visibility: visible;
}

.collassa {
    visibility: collapse;
}

p {
    width: 320px;
    height: 150px;
    border: 3px blue dashed;
    padding: 20px;
}

.box-centrato {
    width: 400px;
    margin: 0 auto;
    background-color: yellow;
}

.nascosto  {
    visibility: hidden;
}