* {
    box-sizing: border-box;
}

h1 {
    width: 300px;
    height: 200px;
    border: solid black 1px;
    padding: 10px;
    font-family: sans-serif;
    text-align: center;
}

.titolo2 {
    width: 322px;
    height: 222px;
    padding: 0;
}

h2 {
    width: 300px;
    height: 200px;
    padding: 20px;
    border: solid black 1px;
    box-sizing: content-box;
}

div {
    height: 242px;
    width: 342px;
    padding: 0;
    border: none;
    background-color: antiquewhite;
}


.border-box, p{
    height: 150px;
    width: 200px;
    border: 1px dashed #4f768e;
    padding: 20px;
    margin: none;
}

p {
    box-sizing: content-box;
}

.border-box {
    margin: 10px;
}

.new-box {
   width: 300px;
   height: 100px;
   padding: 30px;
   border: 2px solid #777; 
   background-color: lightgreen;
   box-sizing: border-box;
}

.content-box {
  width: 300px;
  height: 100px;
  padding: 30px;
  border: 2px solid #777;
  box-sizing: content-box;
  background-color: lightcoral;
}

.div1 {
    width: 250px; 
    height: 100px; 
    padding: 20px; 
    border: 3px solid grey; 
    box-sizing: content-box;
    background-color: lightblue;
}

.div2 {
    width: 250px; 
    height: 100px; 
    padding: 20px; 
    border: 3px solid grey; 
    box-sizing: border-box;
    background-color: lightgreen;
}