h2 {
    color: blue;
}

.testo-speciale {
    font-size: 18px;
}

#invia-bottone {
    background-color: green;
}

* {
    font-family: Arial;
}

.container h2 {
    color: red;
}

h2, p  {
    margin-top:  20px;
}