h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    font-weight: bold;

    text-align: center;
    color: blue;
    background-color: yellow;
}


p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;

    text-align: justify;
    color: gray;
    background-color: aqua;
    opacity: 0.7;
}

body {
    background-image: url("../images/mountains.jpg");
    background-repeat: no-repeat;
    background-position: center 150px;
}

h1 {
    color: red !important;
}